@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --color-blue: #4090bc;
  --color-pink: #ff86b4;
  --color-gray: #5b5b5f;
  --color-black: #000000;
}

.text-blue{
    color: var(--color-blue);
}
.text-pink{
    color: var(--color-pink);
}
.text-gray{
    color: var(--color-gray);
}
.bg-blue{
    background: var(--color-blue);
}
.bg-pink{
    background: var(--color-pink);
}
.bg-gray{
    background: var(--color-gray);
}
.bg-gradient{
    background-image: linear-gradient(90deg, rgba(64, 144, 188, 1) 25%, #cd4a90 100%) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    
html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  color: var(--color-black);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  line-height: 26px;
}

h1{
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

h2, h3, h4, h5{
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h2{
  font-size: 40px;
  font-weight: 700;
}
h3{
  font-size: 32px;
}
h4{
  font-size: 26px;
}
h5{
  font-size: 22px;
  font-weight: 600;
}
h6 {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
a{
  color: var(--color-blue);
  text-decoration: none;
}
a:hover, a:focus{
  color: var(--color-pink);
}
ul li{
  margin-bottom: 0px;
}

@media(max-width: 575px){
    body{
        font-size: 16px;
        line-height: 24px;
    }
    h1{
        font-size: 36px;
        line-height: 1.2;
    }
    h2{
        font-size: 34px;
    }
    section{
        padding: 40px 15px;
    }
}


/*Header CSS*/

header{
    box-shadow: 0px 0px 10px 0px #ddd;
}

header .navbar-nav .nav-link{
    color: #6d6e72 !important;
    padding: 0px 10px !important;
    font-size: 18px;
}
header .navbar-nav .nav-link:hover{
    color: #ff86b4 !important;
}
header .navbar-nav .nav-link.active{
    font-weight: 600;
    color: #ff86b4 !important;
}
header .dropdown-menu{
    border-radius: 0;
    border: 0;
    box-shadow: 0px 0px 10px 0px #ddd;
    margin-top: 17px !important;
}

.navbar-toggler{
    border: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
@media(max-width: 575px){
    header .navbar-nav .nav-link{
    padding: 10px 0px !important;
    text-align: right;
    }
    header .dropdown-menu{
        margin-top: 0px !important;
    }
}
footer{
    background: #D9D9D9;
    padding: 60px 20px;
}

footer a{
    color: #3e3e3e;
    text-decoration:none;
}
footer ul{
    padding-left: 0;
    list-style-type: none;
}

.social-links{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.social-links li a{
    background: linear-gradient(90deg, rgba(64, 144, 188, 1) 25%, #cd4a90 100%) !important;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none !important;
}
.social-links li a:hover{
    color: #cd4a90;
    border: 1px solid #cd4a90;
    background: transparent !important;
}

footer iframe{
    border-radius: 40px;
    border: 6px solid #fff !important;
}


/*slider css : BEGIN*/

.slider-container{
	position: relative;
}
.slick-slide{
  padding: 0px 15px;;
}
.slick-arrow {
	background: linear-gradient(90deg, rgba(64, 144, 188, 1) 25%, #cd4a90 100%) !important;
	width: 35px;
	height: 35px;
	position: absolute;
	bottom: 0;
	top: 0;
	margin: auto;
	color: #fff;
	z-index: 1;
	border: 0;
	font-size: 0;
	outline: none;
	font-family: 'Font Awesome 6 Free';
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity:1;
  /* padding-left: 11px; */
}
.slick-arrow:hover{
  background: #fff;
  color: #000;
  transition: all .3s ease-in-out;
}



.slick-arrow.slick-prev {
	left: -15px
}
@media(max-width: 1024px){
	.slick-arrow.slick-prev {
	  left: 0px
	}
}
@media(max-width: 768px){
	.slick-arrow.slick-prev {
	left: 0
	}
}

.slick-arrow.slick-prev:before {
	font-family: "Font Awesome 6 Free";
  content: "\f053";
  font-weight: 900;
	color: #fff;
	font-size: 16px;
	line-height: 2.2
}

.slick-arrow.slick-next {
	right: -15px
}
@media(min-width: 1024px){
    .amenities-slider .slick-arrow.slick-next {
	right: 50px
}
}

@media(max-width: 1024px){
	.slick-arrow.slick-next {
	  right: -5px
	}
}
@media(max-width: 768px){
.slick-arrow.slick-next {
	right: 0
	}
}

.slick-arrow.slick-next:before {
	font-family: "Font Awesome 6 Free";
  content: "\f054";
  font-weight: 900;
	color: #fff;
	font-size: 16px;
	line-height: 2.2
}
.slick-arrow.slick-prev:hover::before, .slick-arrow.slick-next:hover::before{
  color: #000;
}

.slick-dots {
	text-align: center;
	padding: 0;
	margin-bottom: 15px
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 3px;
	padding: 0;
	cursor: pointer
}

.slick-dots li:only-child {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 14px;
	height: 14px;
	padding: 0px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent
}

.slick-dots li button:before,
.slick-dots li button::before {
	content: ' ';
	position: absolute;
	top: 0;
	bottom: 0px;
	left: 0;
	right: 0px;
	left: 0px;
	margin: auto auto;
	width: 14px;
	height: 14px;
	background: none;
	background: #D9D9D9;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active button::before {
	background: #462408;
	width: 14px;
	height: 14px;
}
.slick-disabled{
    opacity: 0.3;
    cursor: disabled !important;
}
/*slider css : END*/






.doctor-card {
      background: #fff;
      border: 1px solid #777;
      border-radius: 30px;
      padding: 30px;
     
    }

    .avatar-wrap{
        position: relative;
        width: 150px;
        height: 150px;
    }
    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
      display: block;
    }
    .avatar-wrap::before {
        content: '';
        position: absolute;
        top: 0px;
        right: -5px;
        width: 45px;
        height: 45px;
        background: url(../img/Plus-Sign.png) center center no-repeat;
        background-size: contain;
    }
    .btn-profile {
      width: 100%;
      background: #5b5b5f;
      color: white;
      border-radius: 12px;
      padding: 6px 12px;
      font-weight: 600;
      border: 1px solid #5b5b5f !important;
    }

    .btn-book {
    
      background: #ff86b4;
      color: white;
      border-radius: 12px;
      padding: 6px 12px;
      font-weight: 600;
      border: 1px solid #ff86b4 !important;
    }
    .btn-book:hover{
        background: #fff;
        color: #ff86b4;
    }
    .btn-brand {
      background: linear-gradient(90deg, rgba(64, 144, 188, 1) 25%, #cd4a90 100%);
      color: white;
      border-radius: 50px;
      padding: 12px 35px;
        font-weight: 500;
        font-size: 18px;
    }
    .btn-brand:hover{
        border: 1px solid #ff86b4;
        background: #fff;
        color: #ff86b4;
    }
    .dr-qualification {
      color: #848484;
      font-style: italic;
    }
    .dr-designation {
      color: #848484;
      font-size: 18px;
      margin-bottom: 0;
    }

    .dr-single-view .avatar-wrap{
        width: 200px;
        height: 200px;
    }
    .dr-single-view .avatar{
        width: 200px;
        height: 200px;
    }

    .dr-single-view .btn-profile, 
    .dr-single-view .btn-book{
        width: 70%;
        padding: 12px 20px;
        font-size: 20px;
    }

    .dr-single-view .dr-qualification,
    .dr-single-view .dr-designation{
      color: #000;
    }
    .dr-single-view .doctor-bio p{
        color: #848484;
    }


    .schedule-appointment-card{
        background: #fff;
        border: 1px solid #777;
        border-radius: 12px;
    }
    .sch-appo-header{
        padding: 30px;
        border-bottom: 1px solid #777;
    }
    .sch-appo-content{
        padding: 30px;
    }
     .dr-appo-date-slider-wrap{
        width: 60%;
        margin: auto;
     }

    .dr-appo-date-slider{
        padding-left: 0;
        display: flex;
        gap: 20px;
        list-style-type: none;
        padding: 0px 20px;
    }
    .dr-appo-date-slider li a{
        display: block;
        padding: 5px 5px;
        background: #f0f0f0;
        border-radius: 8px;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        text-align: center;

    }
    .dr-appo-date-slider li a:hover,
    .dr-appo-date-slider li a.active{
        background: linear-gradient(90deg, rgba(64, 144, 188, 1) 25%, #cd4a90 100%) !important;
        color: #fff;
    }

    .dr-appo-time-slots-slider{
        padding-left: 0;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0px 20px;
    }
    .dr-appo-time-slots-slider li a{
        display: block;
        padding: 5px 5px;
        background: #fff !important;
        border: 1px solid #777;
        border-radius: 8px;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        text-align: center;
        position: relative;
    }
    
    .dr-appo-time-slots-slider li{
        padding: 0px 5px !important;
    }
    .dr-appo-time-slots-slider li a:hover,
    .dr-appo-time-slots-slider li a.active{
        border: 1px solid #cd4a90 !important;
        color: #cd4a90 !important;
        background: #fff !important;
    }

    .dr-appo-time-slots-slider li a.active::before {
        color: #cd4a90;
        content: "\f00c";
        font-family: "FontAwesome";
        font-size: 16px;
        font-weight: 900;
        position: absolute;
        right: 6px;
        top: 6px;
    }

    /* smaller screens: actions should stack under info */
    @media (max-width: 767.98px) {
      .btn-profile, .btn-book {
        padding-left: 14px;
        padding-right: 14px;
      }
      .avatar-wrap{
        margin: auto;
      }
      .doctor-info{
        text-align: center;
      }
      .dr-single-view .btn-profile, 
        .dr-single-view .btn-book{
            width: 100%;
            padding: 10px 12px;
            font-size: 18px;
        }
        .sch-appo-header{
            padding: 30px 10px;
        }
        .sch-appo-content{
            padding: 30px 10px;
        }
    }
    
    .iti--show-flags{
        width: 100%;
    }
    
    .radio-inline .form-check{
        display: inline-block;
        margin-right: 10px;
    }
    
    .modal-header .btn-close{
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        height: 25px;
        font-size: 14px;
        opacity: 1;
        background-color: #ff86b4;
        border: 1px solid #ff86b4;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }
    #sendOtpBtn, #verifyOtpBtn {
    height: 32px;
    line-height: 1;
}

/*Serach Bar CSS BEGINS*/
.search-box {
    position: relative;
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
    border-radius: 50px;
    transition: all 0.3s ease;
}

.search-box:focus-within {
    box-shadow: 0 3px 20px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

.search-input {
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 20px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    height: 50px;
}

.search-input:focus {
    border: 2px solid #4090bc;
    box-shadow: none;
}


.search-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    padding: 0.65rem 0.65rem;
    transition: all 0.3s ease;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff86b4;
}

.search-button:hover {
    background-color: #4090bc;
    color: #fff;
    transform: translateY(-50%) scale(1.05);
}
.search-box:focus-within .search-button{
    background-color: #4090bc;
}
/*Serach Bar CSS END*/


/*Patients LP CSS BEGIN*/
.banner-sec{ 
    position: relative;
}
.banner-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #00000063;
}
.banner-item{
    padding: 0;
}
.banner-item .banner-img{
    min-height: 100vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
}

.card{
    margin-bottom: 20px;
    border-radius: 15px;
    transition: .3s all ease-in-out;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 2px 10px 0px #ddd;
    transition: .3s all ease-in-out;
}
.card.icon-left .card-body{
    display: flex;
    align-items: center;
    gap: 15px
}
.card.icon-left .card-body img{
    width: 50px;
}
.speciality-cards .card-body{
    padding: 40px 20px;
}
.speciality-cards img{
    width: 60px;
    margin: auto;
}
.request-callback-form-wrapper{
    /*border: 1px solid #fff;*/
    /*border-radius: 30px;*/
    padding: 40px 0px;
}
.form-control{
    height: 40px;
}
#sendOtpBtn,
#verifyOtpBtn{
    background: #ff86b4;
    color: #fff;
    border: 1px solid transparent;
    margin-right: 0 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 40px;
    width: 100px;
}

#sendOtpBtn:hover,
#verifyOtpBtn:hover{
    border: 1px solid #ff86b4;
    color: #ff86b4;
    background: transparent;
}
.fullimg-card{
    border: 0;
    padding: 0;
    border-radius: 30px;
    position: relative;
    margin-bottom: 20px;
}
.fullimg-card img{
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.fullimg-card p{
    /*position: absolute;*/
    bottom: 0;
    padding: 6px 10px;
    background: linear-gradient(90deg, rgba(64, 144, 188, 1) 25%, #cd4a90 100%);
    color: #fff;
    width: 100%;
}
/*Patients LP CSS ENDS*/


